a,
a:visited {
  color: red;
  text-decoration: none;
}

a:hover {
  color: orange;
}

h2 a,
h2 a:visited {
  color: grey;
}
h2 a:hover {
  color: orange;
}

.main-navigation {
  width: 100%;
	display: block;
  padding: 3rem;

	ul {
		display: none;
		padding: 2rem 0;
		// border-bottom: 2px solid $color__green;

		li {
			padding: 0 2rem;
			width: 100%;
			text-align: center;

			a {
				display: block;
				width: 100%;
				height: 100%;
			  font-family: $font__sans;
				font-size: 1.4rem;
				letter-spacing: 1px;
				text-decoration: none;
        color: grey;
			}

			a:hover {
				color: orange;
			}
			a:focus {
				color: red;
			}
		}
	}
}

/* Small menu. */
.main-navigation button {
	border-radius: none;
	width: 100%;
	border: none;
	padding: 1rem;
	background-color: white;
	//color: magenta;
	font-family: $font__sans;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
  background-color: transparent;
  transition: background-color 2s;
}

.main-navigation button:hover {
	color: orange;
  background-color: white;
  transition: background-color 2s;
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 600px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
			display: flex;
      //padding-left: 10rem;
			li {
				padding-right: 1rem;
			 	width: auto;
				a {
			}
		}
	}
}
