<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ if .IsHome -}}
		<meta name="description" content="{{ .Params.description }}">
    <title>{{ .Site.Title }}</title>
	{{- else -}}
	  <meta name="description" content="{{ .Summary }}">
    <title>{{ .Title }}</title>
    <!-- <title>{{ .Title }} | {{ .Site.Title }}</title> -->
	{{- end }}
  <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />

  <script src="/js/lazy.js"></script>
</head>
