<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
	<body>
		<a class="accessibility-link" href="#main-content">Skip to content</a>
    <header>
    <div class="banner-block">
			<div class="video-block">
				<video playsinline autoplay muted loop poster="/img/poster.jpg" id="banner">
						<source src="/video/vidCrop.mp4" type="video/mp4">
				</video>
			</div>
			<div class="logo-block-white">
				<object type="image/svg+xml" data="/img/redBrain.svg">Your browser does not support SVGs</object>
			</div>
		</div>
</header>
<div class="container">
<nav id="site-navigation" class="main-navigation">
      <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">Main Menu</button>
        <ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
          {{ range .Site.Menus.main }}
            <li><a href="{{ .URL | relURL }}">{{ .Name }}{{ .Pre }}</a></li>
          {{ end }}
        </ul>
</nav>
